In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('src/datasets/AccidentesAviones.csv', index_col=0, parse_dates=['fecha'])
df_new = pd.read_csv('src/datasets/Airplane_Crashes_and_Fatalities_Since_1908_20231004123936.csv', encoding='ISO-8859-1', parse_dates=['Date'])

Overview of the original dataset.

In [4]:
df.head(2)

,fecha,HORA declarada,Ruta,OperadOR,flight_no,route,ac_type,registration,cn_ln,all_aboard,PASAJEROS A BORDO,crew_aboard,cantidad de fallecidos,passenger_fatalities,crew_fatalities,ground,summary
0,1908-09-17,1718,"Fort Myer, Virginia",Military - U.S. Army,?,Demonstration,Wright Flyer III,?,1,2,1,1,1,1,0,0,"During a demonstration flight, a U.S. Army fly..."
1,1909-09-07,?,"Juvisy-sur-Orge, France",?,?,Air show,Wright Byplane,SC1,?,1,0,1,1,0,0,0,Eugene Lefebvre was the first pilot to ever be...

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5008 entries, 0 to 5007
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   fecha                   5008 non-null   datetime64[ns]
 1   HORA declarada          5008 non-null   object
 2   Ruta                    5008 non-null   object
 3   OperadOR                5008 non-null   object
 4   flight_no               5008 non-null   object
 5   route                   5007 non-null   object
 6   ac_type                 5008 non-null   object
 7   registration            5008 non-null   object
 8   cn_ln                   5008 non-null   object
 9   all_aboard              5008 non-null   object
 10  PASAJEROS A BORDO       5008 non-null   object
 11  crew_aboard             5008 non-null   object
 12  cantidad de fallecidos  5008 non-null   object
 13  passenger_fatalities    5008 non-null   object
 14  crew_fatalities         5008 non-null   object
 15  ground                  5008 non-null   object
 16  summary                 5008 non-null   object
dtypes: datetime64[ns](1), object(16)
memory usage: 704.2+ KB

In [6]:
df.replace('?', np.nan, inplace=True)
# Date to filter the new dataset with the necessary information
max_date = df['fecha'].max()
# Change the original dataset columns names with the new dataset columns name to make possible the concatenation
df.columns = df_new.columns.tolist()   

if df.drop_duplicates().shape[0] != df.shape[0]:
    print(f'There are {df.shape[0] - df.drop_duplicates().shape[0]} duplicated values in our dataset')
else:
    print("There aren't any duplicated values in our dataset")

print(f'Shape of the dataset: {df.shape}')

There aren't any duplicated values in our dataset
Shape of the dataset: (5008, 17)

Overview of the new dataset.

In [7]:
df_new.tail(2)

,Date,Time,Location,Operator,Flight #,Route,AC Type,Registration,cn/ln,Aboard,Aboard Passangers,Aboard Crew,Fatalities,Fatalities Passangers,Fatalities Crew,Ground,Summary
34,2022-11-18,15:11,"Lima, Peru",LATAM,LA2213,Lima - Juliaca,Airbus 320-271N,CC-BHB,7864,108,102,6,0,0,0,2.0,The Airbus A320 collided with a fire truck whi...
35,2022-11-21,10:15,"Medellín, Colombia",AeroPaca SAS,NaN,Medellín - Pizarro,Piper PA-31-350 Navajo Chieftain,HK-5121,31-7652004,8,6,2,8,6,2,0.0,The plane was chartered to carry a team of six...

In [8]:
df_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 17 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Date                   36 non-null     datetime64[ns]
 1   Time                   35 non-null     object
 2   Location               36 non-null     object
 3   Operator               36 non-null     object
 4   Flight #               15 non-null     object
 5   Route                  35 non-null     object
 6   AC Type                36 non-null     object
 7   Registration           35 non-null     object
 8   cn/ln                  36 non-null     object
 9   Aboard                 36 non-null     int64
 10  Aboard Passangers      36 non-null     int64
 11  Aboard Crew            36 non-null     int64
 12  Fatalities             36 non-null     int64
 13  Fatalities Passangers  36 non-null     int64
 14  Fatalities Crew        36 non-null     int64
 15  Ground                 35 non-null     float64
 16  Summary                36 non-null     object
dtypes: datetime64[ns](1), float64(1), int64(6), object(9)
memory usage: 4.9+ KB

In [9]:
# Chose only the unique values
df_new = df_new[df_new['Date'] > max_date]

Creating and downloading the final dataset.

In [12]:
final_df = pd.concat((df, df_new))
final_df.to_csv('src/datasets/AirplaneCrashes.csv', index=False)